/* 
    --Name : Template prentation of a product
    --Author : Damien: 10675;
    --Last Update : 01/18;
    --V : 0.1; 
    */


// BASE 
//--------------------------------------

body{
    background-color: white;
    margin: 0; padding: 0;
    width: 100%; height: 100%;
    }

header, nav, section, footer{
    display: flex; flex-direction: column;
    width: 100%;
    }


// HEADER 
//--------------------------------------

header{
    height: 200px; 
    background-color: red;
    overflow: hidden;
    } 

    header #header__content--title{
        width: 60%; margin-left: auto; margin-right: auto;
        text-align: center;
        }

        header #header__content--title h1{
            margin-bottom: 2%;
            text-shadow: 1px 1px black;
            font-size: 2.5rem;
            }
        header #header__content--title h2{
            text-shadow: 1px 1px black;
            font-size: 1.5rem;
            }

// NAV
//--------------------------------------

nav{
    height: 0px; 
    background-color: green;
    }

        
// SECTION #INDEX
//--------------------------------------

section#content__index{
    height: auto; 
    background-color: violet;
    }

    section#content__index #content__index--product{
        width: 60%; margin-left: auto; margin-right: auto; 
        text-align: center; 
        background-color: green;
        }

    section#content__index #content__index--product img{
        height: auto; max-width: 100%; 
        border-radius: 100%; 
        background-color: moccasin;
        }

// FOOTER
//--------------------------------------

footer{
    height: 100px; position:fixed; bottom:0;
    background-color:black; color: violet;
    }
    
    footer #footer__content{
        display: flex; margin-top: auto; margin-bottom: auto;
        justify-content: space-around;
        text-align: center;
        }
                
    footer #footer__content--left{
        width: 20%; height: 100%; 
        background-color: blue;
        font-size: 33.5px;
        }
                    
    footer #footer__content--center{
        width: 60%; height: 100%;
        background-color: red;
        }

        footer #footer__content--center .btn__primary--buy{
            height: 50px; width: 150px; 
            border: none;
            font-size: 18px; 
            transition: 2s;
            }
                            
            footer #footer__content--center .btn__primary--buy:hover{
                background-color: #CCCCCC;
                box-shadow: 2px 2px 2px black
                }
                        
    footer #footer__content--right{
        width: 20%; height: 100%;
        background-color: yellow;
        font-size: 33.5px;
        }